.navbar{
  margin-bottom: 30px;
  .navbar-collapse{
    .navbar-nav{
      .nav-item{
        .nav-link{
          color: #fff;
          cursor: pointer;
          &.active-link{
            font-weight: 500;
            color: #000;
          }
        }
      }
    }
  }
}
